%div.comment
  %p
    %b Subject:
    = comment.subject
    %em= "- by %s" % comment.user.username
    %br
    %b Body:
    %br
    = comment.body

  %p.actions
    - if current_user == comment.user
      = link_to 'Edit', edit_comment_path(comment)
      |
    = link_to 'Reply', new_comment_comment_path(comment)

  = render :partial => comment.comments
