- form.inputs do
  = form.input :creator_id, :as => :hidden, :value => (@comment.creator_id || current_user.id)
  = form.input :updater_id, :as => :hidden, :value => current_user.id
  = form.input :commentable_id, :as => :hidden
  = form.input :commentable_type, :as => :hidden
  = form.input :subject
  = form.input :body

:javascript
  document.observe('dom:loaded', function() {
    setToolbarFor('comment_body');
  });
