- form.inputs do
  = form.input :code
  = form.input :name
  = form.input :source
  = form.input :level_id, :label_method => :name
  = form.input :problem_type, :as => :radio, :collection => ['Math', 'Programming']
