%h1.heading
  = "Editing problem %s" % @problem.id
  
- semantic_form_for(@problem) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
    
%p.actions
  = link_to 'Cancel', problems_path


%h2 Statements

%p= link_to 'New statement', new_problem_statement_path(@problem)

%div#statements
  - @problem.statements.each do |statement|
    %div{ :id => "statement_#{statement.id}" }
      %p
        =statement.language.name
      %p
        =statement.body
      %p.actions
        = link_to 'Edit', edit_problem_statement_path(@problem, statement)
        |
        = link_to 'Remove', [@problem, statement], :confirm => 'Are you sure?', :method => :delete

