<h1>Editing problem</h1>

<% form_for(@problem) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :bt_submit => 'Update' } %>
<% end %>

<label for="category_id">Category</label><br />
<ul>
  <% @problem.categories.each do |category| %>
    <li><%= category.name %> - <%= link_to "Remove", "/problems/#{@problem.id}/remove_category/#{category.id}" %></li>
  <% end %>

<% form_tag "/problems/#{@problem.id}/add_category" do-%>
    <%= hidden_field_tag :problem_id, @problem.id %>
    <li><%= select_tag :category_id, options_for_select(categories_list(@problem)), :include_blank => true %>
      <%= submit_tag 'Add category' %></li>
<% end %>
</ul>

<%= link_to 'Show', @problem %> |
<%= link_to 'Back', problems_path %>
