%h1.heading
  = "Editing problem"
  
- semantic_form_for(@problem) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
    
%p.actions
  = link_to 'Cancel', problems_path


%h2 Statements

%p= link_to 'New statement', new_problem_statement_path(@problem)

%div#statements
  - @problem.statements.each do |statement|
    %div.statement{ :id => "statement_#{statement.id}" }
      %p
        %em= "in %s" % statement.language.name
      %p
        ~ statement.body_html
      %p.actions
        = link_to 'Edit', edit_problem_statement_path(@problem, statement)
        |
        = link_to 'Remove', [@problem, statement], :confirm => 'Are you sure?', :method => :delete

%h2 Analyses

%p= link_to 'New analysis', new_problem_analysis_path(@problem)

%div#analyses
  - @problem.analyses.each do |analysis|
    %div.analysis{ :id => "analysis_#{analysis.id}" }
      %p
        %em= "by %s" % analysis.user.username
      ~ analysis.body_html
      %p.actions
        - if current_user == analysis.user
          = link_to 'Edit', edit_problem_analysis_path(@problem, analysis)
          |
        = link_to 'New comment', new_analysis_comment_path(analysis)
        |
        = link_to_function 'View comments', "$(comments).toogle()"
      %h3 Comments
      %div#comments
        = render :partial => analysis.comments



