<h1>Listing problems</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Source</th>
  </tr>

<% @problems.each do |problems| %>
  <tr>
    <td><%=h problems.id %></td>
    <td><%=h problems.name %></td>
    <td><%=h problems.source %></td>
    <td><%= link_to 'Show', problems %></td>
    <td><%= link_to 'Edit', edit_problems_path(problems) %></td>
    <td><%= link_to 'Destroy', problems, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New problems', new_problems_path %>