<h1>Listing problems</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Source</th>
    <th>Category</th>
    <th>Level</th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%=h problem.code %></td>
    <td><%=h problem.name %></td>
    <td><%=h problem.source %></td>
    <td><%=h problem.category.nil? ? "(none)" : problem.category.name %></td>
    <td><%=h problem.level.nil? ? "(none)" : problem.level.description %></td>
    <td><%= link_to 'Show', problem %></td>
    <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
    <td><%= link_to 'Destroy', problem, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New problem', new_problem_path %>
