<p>
  <b>Code:</b>
  <%=h @problem.code %>
</p>

<p>
  <b>Name:</b>
  <%=h @problem.name %>
</p>

<p>
  <b>Source:</b>
  <%=h @problem.source %>
</p>

<p>
  <b>Category:</b>
  <%=h @problem.category.nil? ? '(none)' : @problem.category.name %>
</p>

<p>
  <b>Level:</b>
  <%=h @problem.level.nil? ? '(none)' : @problem.level.description %>
</p>



<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
