<p>
  <b>Code:</b>
  <%=h @problem.code %>
</p>

<p>
  <b>Name:</b>
  <%=h @problem.name %>
</p>

<p>
  <b>Source:</b>
  <%=h @problem.source %>
</p>

<p>
  <b>Category:</b>
  <% unless @problem.categories.empty? %>
    <ul>
      <% @problem.categories.each do |category| %>
        <li><%= category.name %></li>
      <% end %>
    </ul>
  <% else %>
    (none)
  <% end %>
</p>

<p>
  <b>Level:</b>
  <%= level_description_of @problem %>
</p>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
