%div{:style => 'text-align: center'}
  %h1.heading= "Problem %s" % @problem.code
  %p
    %em
      Source:
      = link_to @problem.source, problem_path(@problem) + "?source=" + @problem.source

= render :partial => 'statements'

%h2 Analyses

%p= link_to 'New analysis', new_problem_analysis_path(@problem)

%table
  %thead.header
    %tr
      %th{:align => :left} Author
      %th Created
      %th Updated
      %th Actions
  - @problem.analyses.each do |analysis|
    %tr
      %td= analysis.creator.username
      %td{:align => :center}= "%s ago" % time_ago_in_words(analysis.created_at)
      %td{:align => :center}= "%s ago" % time_ago_in_words(analysis.updated_at)
      %td{:align => :center}
        = link_to "Show", problem_analysis_path(@problem, analysis)
        |
        = link_to "Edit", edit_problem_analysis_path(@problem, analysis)
