<p>
  <b>Id:</b>
  <%=h @problem.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @problem.name %>
</p>

<p>
  <b>Source:</b>
  <%=h @problem.source %>
</p>


<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>