%h1.heading
  = "Languages"
  
%p.actions
  = link_to 'New Language', new_language_path
  
%table
  %thead.header
    %tr
      %th.name= 'Abbreviation'
      %th.name= 'Name'
      %th.actions= 'Actions'
  %tbody.items.languages
    - @languages.each do |language|
      = render 'item', :language => language
      
= will_paginate(@languages)
