%h1.heading
  = 'New Analysis'
  
- semantic_form_for([@problem, @analysis]) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    = form.commit_button 'Create and continue'
    = link_to_function 'Preview', "preview('analysis_body')"
    |
    = link_to 'Back to problem', problem_path(@problem)

%div#preview
