%div.centered
  %h1.heading
    Analysis of problem
    = link_to @analysis.problem.code, problem_path(@analysis.problem)
  %p
    %em= "by %s" % @analysis.creator.username

%div.analysis
  ~ @analysis.body

%p.actions
  - if current_user == @analysis.creator || current_user.admin?
    = link_to 'Edit', edit_problem_analysis_path(@problem, @analysis)
    |
  = link_to 'New comment', new_analysis_comment_path(@analysis)
  |
  = link_to_function 'View comments', "$(comments).toogle()"
  |
  = link_to 'Back to the problem', problem_path(@problem)

%h3 Comments
%div#comments
  = render :partial => @analysis.comments
