%center
  %h1.heading
    Editing statement of
    = link_to @problem.code, problem_path(@problem)
  %p 
    %em
      Source:
      = link_to @problem.source, problem_path(@problem) + "?source=" + @problem.source

- semantic_form_for([@problem, @statement]) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
    = form.commit_button 'Update and continue'
    = link_to_function "Preview", "preview('statement_body')"
    |
    = link_to 'Back to problem', problem_path(@problem)

%div#preview
