%h1.heading
  = "Editing statement of <br />%s - <em>%s</em>" % [@problem.code, @problem.name]

- semantic_form_for([@problem, @statement]) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
    = form.commit_button 'Update and continue'
    = link_to_function "Preview", "preview('statement_body')"
    |
    = link_to 'Back to problem', problem_path(@problem)

%div#preview
