%div#action-nav
  %ul
    %li
      = link_to 'New Level', new_level_path

%div#main-content
  %table
    %thead.header
      %tr
        %th.name= 'Name'
        %th.actions= 'Actions'
    %tbody.items.levels
      - @levels.each do |level|
        = render 'item', :level => level

  = will_paginate(@levels)
