!!! Strict
%html{html_attrs}
  
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'custom'
    = stylesheet_link_tag 'formtastic'
    = stylesheet_link_tag 'formtastic_changes'
    !!!= javascript_include_tag :all
    = yield(:head)
  
  %body
    #container
      %div#user_nav
        - if current_user
          = link_to "Edit Profile", edit_user_path(:current)
          |
          = link_to "Logout", logout_path
        - else
          = link_to "Register", new_user_path
          |
          = link_to "Login", login_path

      %br

      %div#menu
        %b Krasnaia Pravda!
        %br
        = link_to "Problems", problems_path
        |
        = link_to "Levels", levels_path
        |
        = link_to "Users", users_path
        %hr


      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      
      - if show_title?
        %h1=h yield(:title)
      
      = yield
